{% extends 'base.html' %}

{% block title %}
    The Foaming Mug - Round Based Role Playing Games
{% endblock %}

{% block content%}
    
    {% if form %}
        <form enctype="multipart/form-data"  id="editRound" class="" method="post" action=".">
            {% csrf_token %}
            {{form.as_table}}
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    {% else %}
        <h2> You must be logged in to edit a round! </h2>
    {% endif %}

{% endblock %}