{% extends 'base.html' %}

{% block title %}
    The Foaming Mug - Round Based Role Playing Games
{% endblock %}

{% block content%}
    <div class="page-header">
        <h1>Welcome to the Foaming Mug <small>Here is a list of games</small> <a href="{% url 'Game:create_game' %}" style="margin-top: 10px;" type="button" class="pull-right btn btn-success btn-sm">New Game</a></h1>
    </div>
    
    {% if games %}
        <table class="table table-bordered table-striped">
            <tr>
                <th>Status</th>
                <th>Game Title</th>
                <th>Game Description</th>
                <th>GM</th>
                <th>Game System</th>
                <th>&nbsp;</th>
            </tr>
            {% for game in games %}
                <tr>
                    <td width="60px">
                        {% if game.is_public %}
                           Public
                        {% else %}
                            Private
                        {% endif %}
                    </td>
                    <td>{{ game.title }}</td>
                    <td>{{ game.description|truncatewords:50 }}</td>
                    <td>{{ game.owner }}</td>
                    <td>{{ game.game_system }}</td>
                    <td align="center" width="75px">                    
                        <a href="{% url 'Game:join_game' game.id %}" type="button" class="btn btn-primary btn-xs">Join Game</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>There aren't any games yet. Create one?</h3>
    {% endif %}

{% endblock %}
